In [28]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [29]:
A = [1, 2, 3, 4, 5, 6]
B = [13, 21, 34]

A.extend(B)

print("Extend:", A_extend)

Extend: [1, 2, 3, 4, 5, 6, 13, 21, 34]

In [30]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [35]:
fueldf = pd.read_csv('fuel_ferc1.csv')
fueldf

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570
...,...,...,...,...,...,...,...,...,...,...,...
29518,f1_fuel_2018_12_12_0_13,12,2018,neil simpson ct #1,gas,mcf,18799.0,1.059,4.78,4.78,9.030
29519,f1_fuel_2018_12_12_1_1,12,2018,cheyenne prairie 58%,gas,mcf,806730.0,1.050,3.65,3.65,6.950
29520,f1_fuel_2018_12_12_1_10,12,2018,lange ct facility,gas,mcf,104554.0,1.060,4.77,4.77,8.990
29521,f1_fuel_2018_12_12_1_13,12,2018,wygen 3 bhp 52%,coal,ton,315945.0,16.108,3.06,14.76,1.110
29522,f1_fuel_2018_12_12_1_14,12,2018,wygen 3 bhp 52%,gas,mcf,17853.0,1.059,0.00,0.00,11.680

In [34]:
print(fueldf.groupby(['fuel_type_code_pudl'])['fuel_cost_per_unit_burned'].mean().sort_values())

fuel_type_code_pudl
gas          13.659397
other        18.253856
waste        19.518122
coal         67.421830
oil         168.877086
nuclear    4955.157002
Name: fuel_cost_per_unit_burned, dtype: float64

In [38]:
fueldf.describe()
print(round(fueldf.fuel_mmbtu_per_unit.std(), 2))
print(round(fueldf.fuel_mmbtu_per_unit.quantile(0.75), 2))

10.6
17.01

In [48]:
c = 'fuel_qty_burned'
a = np.round(fueldf[c].skew(),2)
b = np.round(fueldf[c].kurtosis(),2)
print('Skewness:', a, ' Kurtosis:', b)

Skewness: 15.85  Kurtosis: 651.37

In [63]:
fueldf.isnull()
x = "fuel_unit"

y = fueldf.fuel_unit.isna().sum()
total = fueldf.shape[0]
percentage = (y / total) * 100
z = round(percentage_missing, 3)

print("Feature:", x , "Total:" , y , "Percent:", z)

Feature: fuel_unit Total: 180 Percent: 0.61

In [65]:
fueldf.fuel_unit.dtypes

dtype('O')

In [71]:
corr = fueldf.corr()
corr['fuel_cost_per_unit_burned'].sort_values()

utility_id_ferc1               -0.037863
fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_mmbtu            -0.000437
fuel_cost_per_unit_delivered    0.011007
report_year                     0.013599
fuel_cost_per_unit_burned       1.000000
Name: fuel_cost_per_unit_burned, dtype: float64

In [82]:
fuel_cost_per_unit_burned = fueldf.groupby(['fuel_type_code_pudl','report_year'])['fuel_cost_per_unit_burned'].sum()
print(fuel_cost_per_unit_burned)
percentage = ((11902.597 - 14984.572)/14984)
print(percentage * 100) #approximately -21%

fuel_type_code_pudl  report_year
coal                 1994           14984.572
                     1995           14571.785
                     1996           12694.803
                     1997           43742.178
                     1998           11902.597
                                      ...
waste                2014             591.594
                     2015             629.270
                     2016             539.079
                     2017             452.079
                     2018             660.972
Name: fuel_cost_per_unit_burned, Length: 148, dtype: float64
-20.568439668980247

In [72]:
fueldf.groupby(['report_year'])['fuel_cost_per_unit_delivered'].mean().sort_values()

report_year
1999       25.551627
1995       32.735269
2006       38.657484
2005       41.438184
2007       43.325023
2017       46.196861
2002       47.594361
2003       55.663493
2008       58.588197
2011       59.774667
2001       60.050396
2012       60.994502
1994       63.636060
2010       91.862105
2016      103.901761
2004      139.524275
2013      172.307591
2014      192.737183
1998      287.154420
2015      326.535511
2018      499.269966
2009      652.694163
2000      985.362877
1996     9196.705948
1997    11140.197239
Name: fuel_cost_per_unit_delivered, dtype: float64